* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

img {
    width: 70px;
}

#movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.movie {
    background-color: pink;
    margin: 10px 10px 0 0;
    padding: 10px;
    width: 125px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

#pagination {
    display: flex;
    margin: 10px 0;
}

#page-count {
    margin: 0 10px;
}

h3 {
    font-size: 1em;
    text-align: center;
}